<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Delivery Availability</h2>
            <hr>
            <form action="" (submit)="validPostcode()">
                <div class="form-group">
                    <p>Please enter your post code to check if we can deliver to your address or not.</p>
                    <input type="text" class="form-control" placeholder="i.e. CR0 1AS" [(ngModel)]='postcode' name="postcode" (blur)="validPostcode()">
                </div>
                <button type="submit" class="btn btn-default" (click)="validPostcode()" [disabled]="!postcode.length">Check</button>
            </form>
            <h4 *ngIf="isValidationResultShown" [ngClass]="{'text-success': isValid, 'text-danger': isValid === false}">{{validationResult}}</h4>
        </div>
    </div>
</div>