<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Customers</h1>
            <table class="table table-bordered customers">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Orders (30d)</th>
                        <th>Order total (30d)</th>
                        <th>Orders (all)</th>
                        <th>Order total (all)</th>
                        <th>Current vouchers</th>
                        <th>Used vouchers</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let customer of customers">
                        <tr class="customer-summary">
                            <td class="name">{{ getNames(customer)[0] }}</td>
                            <td class="orders-30d">{{ getOrdersCount30d(customer) }}</td>
                            <td class="order-total-30d">£{{ getOrderTotal30d(customer) | number:'1.2-2' }}</td>
                            <td class="orders-all">{{ getOrdersCountAll(customer) }}</td>
                            <td class="order-total-all">£{{ getOrderTotalAll(customer) | number:'1.2-2' }}</td>
                            <td class="current-vouchers">{{ getCurrentVouchers(customer) }}</td>
                            <td class="used-vouchers">{{ getUsedVouchers(customer) }}</td>
                            <td class="actions">
                                <button class="btn btn-info toggle-expanded" (click)="toggleDetails(customer)">{{ isShowDetails(customer) ? 'Hide' : 'Show' }} Details</button>
                                <button class="btn btn-info toggle-expanded" (click)="toggleVouchers(customer)">{{ isShowVouchers(customer) ? 'Hide' : 'Show' }} Vouchers</button>
                            </td>
                        </tr>
                        <tr *ngIf="isShowDetails(customer)" class="customer-details">
                            <td colspan="8">
                                <p><strong>E-mail:</strong> <span class="email">{{ customer.email }}</span></p>
                                <p *ngFor="let name of getNames(customer)"><strong>Name:</strong> <span class="name">{{ name }}</span></p>
                                <p *ngFor="let phone of getPhones(customer)"><strong>Phone:</strong> <span class="phone">{{ phone }}</span></p>
                                <p *ngFor="let address of getAddresses(customer)"><strong>Address:</strong> <span class="address">{{ address }}</span></p>
                            </td>
                        </tr>
                        <tr *ngIf="isShowVouchers(customer)" class="voucher-details">
                            <td colspan="8">
                                <div class="row">
                                    <div class="form-group send-voucher">
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">£</span>
                                                <input type="number" class="form-control" name="amount" [(ngModel)]="voucherAmount" [min]="MIN_VOUCHER_AMOUNT" [max]="MAX_VOUCHER_AMOUNT" step="1">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6 action">
                                            <button class="btn btn-info" (click)="sendVoucher(customer)">Send voucher</button>
                                        </div>
                                    </div>
                                </div>
                                <p *ngIf="customer.vouchers.length === 0">This customer has never been sent any vouchers.</p>
                                <table class="table table-striped table-bordered" *ngIf="customer.vouchers.length > 0">
                                    <thead>
                                        <tr>
                                            <th>Voucher code</th>
                                            <th>Amount</th>
                                            <th>Date issued</th>
                                            <th>Date used</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let voucher of customer.vouchers">
                                            <td>{{voucher.code}}</td>
                                            <td>{{voucher.amount}}</td>
                                            <td>{{getDateIssued(voucher)}}</td>
                                            <td>{{getDateUsed(voucher)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
