<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Basket</h2>
            <table class="table table-striped" *ngIf='basket.items.length > 0'>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of basket.items">
                        <td>{{item.name}}{{item.version ? ' - ' + item.version : ''}}</td>
                        <td>£{{item.price | number:'1.2-2'}}</td>
                        <td>{{item.quantity}}
                            <button class="btn btn-primary increase" (click)='basket.increase(item)'><span class="glyphicon glyphicon-plus"></span></button>
                            <button class="btn btn-warning decrease" [disabled]="item.quantity < 2" (click)='basket.decrease(item)'><span class="glyphicon glyphicon-minus"></span></button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="basket.removeItem(item)"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <h2 *ngIf='basket.items.length > 0'>Total payable: £{{basket.getTotalPrice() | number:'1.2-2'}}</h2>
            <h2 *ngIf='basket.getDiscount() > 0' class="text-success">Discount: £{{basket.getDiscount() | number:'1.2-2'}}</h2>

            <button class="btn btn-default next" *ngIf='basket.items.length > 0' [routerLink]="['/checkout']"> Next <span class="glyphicon glyphicon-chevron-right"></span></button>
            <button class="btn btn-danger" *ngIf='basket.items.length > 0' (click)="basket.removeAll()">Clear Basket</button>
            <h2 class="text-danger" *ngIf='basket.items.length < 1'>No Item in the Basket</h2>
        </div>
    </div>
</div>