<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Basket</h2>
            <table class="table table-striped" *ngIf='items.length > 0'>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>{{item.item.name}}</td>
                        <td>£{{item.price | number:'1.2-2'}}</td>
                        <td>{{item.qty}}</td>
                        <td>
                            <button class="btn btn-primary" (click)='increaseItem(item.item)'><span class="glyphicon glyphicon-plus"></span></button>
                            <button class="btn btn-warning" [disabled]="buttonState(item.qty)" (click)='decreaseItem(item.item)'><span class="glyphicon glyphicon-minus"></span></button>
                            <button class="btn btn-danger" (click)="removeItem(item)"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <h2 *ngIf='items.length > 0'>Total: £{{totalPrice}}</h2>

            <button class="btn btn-default next" *ngIf='items.length > 0' [routerLink]="['/checkout']"> Next <span class="glyphicon glyphicon-chevron-right"></span></button>
            <button class="btn btn-danger" *ngIf='items.length > 0' (click)="removeAll()">Clear Basket</button>
            <h2 class="text-danger" *ngIf='items.length < 1'>No Item in the Basket</h2>
        </div>
    </div>
</div>