<my-jumbotron [jumbotronImage]="jumbotronImage"></my-jumbotron>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3 product" *ngFor='let drink of drinks'>
            <div class="thumbnail">
                <img src="{{drink.imageName}}" alt="...">
                <div class="caption item clearfix">
                    <h3>{{drink.name}}</h3>
                    <p><a (click)='basket.addToBasket(drink)' class="btn btn-primary pull-left" role="button">Add to Basket</a>
                        <span class="pull-right price">£{{drink.price | number:'1.2-2' }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>