<my-jumbotron [jumbotronImage]="jumbotronImage"></my-jumbotron>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3 product" *ngFor='let side of sides'>
            <div class="thumbnail">
                <img src="{{side.imageUrl}}" alt="...">
                <div class="caption item clearfix">
                    <h3>{{side.name}}</h3>
                    <p><a (click)='addToBasket(side)' class="btn btn-primary pull-left" role="button">Add to Basket</a>
                        <span class="pull-right price">£{{side.price}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>