.container {
    background-color: #ffffff;
}

.more-details,
.order-summary,
.table.orders {
    border: 2px solid #333;
}

.order-summary {
    border-bottom: none;
}

.more-details {
    border-top: none;
}

.table-bordered.orders > thead > tr > td,
.table-bordered.orders > thead > tr > th {
    border-bottom: 2px solid #333;
}

.order-status-Outstanding {
    color: #ED7118;
}

.order-status-Complete {
    color: #0EA603;
}

.order-status-Refunded {
    color: purple;
}
