<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h2>Your Details:</h2>
            <hr>
            <form class="form-horizontal" #checkoutForm='ngForm' (ngSubmit)='onSubmit(checkoutForm)' (submit)="preventDefault($event)">
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstName" name="firstName" ngModel>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastName" name="lastName" ngModel>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address1" class="col-sm-2 control-label">Address 1:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="address1" name="address1" ngModel>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address2" class="col-sm-2 control-label">Address 2:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="address2" name="address2" ngModel>
                    </div>
                </div>
                <div class="form-group">
                    <label for="post-code" class="col-sm-2 control-label">Post Code:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="post-code" name="postCode" ngModel>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">E-mail:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" ngModel>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-2 control-label">Phone:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="phone" name="phone" ngModel>
                    </div>
                </div>
                <div class="radio" *ngFor='let method of deliveryMethods'>
                    <label class="delivery-method">
                        <input type="radio" name="deliveryMethod"  [(ngModel)]='defaultDeliveryMethod' [value]='method'>
                             {{method}}
                    </label>

                </div>
                <hr>
                <button class="btn btn-default next" type="submit"> Next <span class="glyphicon glyphicon-chevron-right"></span></button>
                <span class="total">Total: £{{basket.totalPrice | number:'1.2-2'}}</span>
            </form>

        </div>
    </div>
</div>