<div class="container">
    <div class="row">
        <div class="col-md-12" *ngIf='!isShowSpinner'>
            <h2>Payment</h2> <span class="total">Total: £{{basket.totalPrice | number:'1.2-2'}}</span>
            <hr>
            <img src="/images/paypal.png" class="img-responsive" alt="">
            <hr>
            <button type="submit" class="btn btn-primary" (click)='order()'>Order Now</button>
        </div>
        <div *ngIf='isShowSpinner' class="col-md-4 col-md-offset-4">
            <h2>Processing</h2> <img src="/images/ring.gif" alt="">
        </div>
    </div>
</div>