 <div class="header clearfix">
            <h3 class="text-muted">Pizza Order Online</h3>
            <nav>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="">Pizzas</a></li>
                <li><a href="">Sides</a></li>
                <li class="drinks"><a href="">Drinks</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="">Shopping Cart <span class="badge">  </span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">User account</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">Logout</a></li>
                        <li><a href="">Register</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">Login</a></li>
                    </ul>
                </li>
            </ul>
            </nav>
        </div>
        <div class="jumbotron img-bg">
            <h1>Pizza</h1>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="images/pizzas/neapolitan-pizza.jpg" alt="..." class="img-responsive">
                    <div class="caption">
                        <h3>Neapolitan Pizza</h3>
                        <select name="size" id="pizz-size">
                    <option value="l">Large</option>
                    <option value="m">Medium</option>
                    <option value="s">Small</option>
             </select>
                        <div class="clearfix">
                            <div class="price pull-left">$ 9.99</div>
                            <a href="" class="btn btn-success pull-right" role="button">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>