<div class="container">
    <div class="row">
        <div class="col-sm-12" *ngIf="!isShowSpinner">
            <h2>Your Details</h2>
            <hr>
            <div class="form-group row">
                <label for="firstName" class="col-sm-2 control-label required">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstName" [(ngModel)]="buyer.firstName">
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-2 control-label required">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" [(ngModel)]="buyer.lastName">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 control-label required">E-mail</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" [(ngModel)]="buyer.email">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-2 control-label required">Phone</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="phone" [(ngModel)]="buyer.phone">
                </div>
            </div>

            <div class="form-group row delivery-method">
                <div class="radio" *ngFor="let method of deliveryMethods">
                    <label>
                        <input type="radio" [id]="method" name="deliveryMethod" [(ngModel)]="deliveryMethod" [value]="method"> {{method}}
                    </label>
                </div>
            </div>

            <div class="address-section" *ngIf="deliveryMethod === 'Delivery'">
                <h3>Delivery address</h3>
                <div class="form-group row">
                    <label for="delivery_address1" class="col-sm-2 control-label required">Address 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="delivery_address1" [(ngModel)]="deliveryAddress.line1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="delivery_address2" class="col-sm-2 control-label">Address 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="delivery_address2" [(ngModel)]="deliveryAddress.line2">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="delivery_town" class="col-sm-2 control-label required">Town/City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="delivery_town" [(ngModel)]="deliveryAddress.town">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="delivery_postcode" class="col-sm-2 control-label required">Postcode</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="delivery_postcode" [(ngModel)]="deliveryAddress.postcode">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="order_notes" class="col-sm-2 control-label">Order Notes</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" id="order_notes" [(ngModel)]="orderNotes"></textarea>
                </div>
            </div>

            <p>Please note there is a 50p charge for Credit / Debit card payments</p>
            <div class="form-group row payment-method">
                <div class="radio" *ngFor="let method of paymentMethods">
                    <label>
                        <input [id]="method" type="radio" name="paymentMethod" [(ngModel)]="paymentMethod" [value]="method"> {{method}}
                    </label>
                </div>
            </div>

            <div class="address-section" *ngIf="isBillingAddressRequired()">
                <h3>Billing address</h3>
                <div class="form-group row">
                    <label for="billing_address1" class="col-sm-2 control-label required">Address 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="billing_address1" [(ngModel)]="billingAddress.line1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="billing_address2" class="col-sm-2 control-label">Address 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="billing_address2" [(ngModel)]="billingAddress.line2">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="billing_town" class="col-sm-2 control-label required">Town/City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="billing_town" [(ngModel)]="billingAddress.town">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="billing_postcode" class="col-sm-2 control-label required">Postcode</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="billing_postcode" [(ngModel)]="billingAddress.postcode">
                    </div>
                </div>
            </div>

            <hr>
            <button class="btn btn-primary" (click)="order()">Order Now</button>
            <span class="total">Total: £{{basket.getTotalPrice() | number:"1.2-2"}}</span>
        </div>
        <div class="col-md-4 col-md-offset-4" *ngIf="isShowSpinner">
            <h2>Processing</h2> <img src="/images/ring.gif" alt="">
        </div>
    </div>
</div>
