<div class="container">
    <div *ngIf="!isShowSpinner">
        <h2>Checkout</h2>
        <form class="form-horizontal">
            <h3>Your details</h3>
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label required">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="firstName" [(ngModel)]="userDetailsService.firstName">
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label required">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="lastName" [(ngModel)]="userDetailsService.lastName">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label required">E-mail</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" [(ngModel)]="userDetailsService.email">
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label required">Phone</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" name="phone" [(ngModel)]="userDetailsService.phone">
                </div>
            </div>

            <h3>Order notes</h3>
            <textarea class="form-control" rows="3" name="order_notes" [(ngModel)]="basket.orderNotes" placeholder="Enter any special instructions for your order. For example swapping/removing a pizza's toppings or instructing that you would like to place an order to be delivered at a specific time."></textarea>

            <div>
                <h3>Delivery method</h3>
                <div class="delivery-methods">
                    <button class="btn btn-default" [ngClass]="{ 'btn-success': basket.deliveryMethod === method }" *ngFor="let method of deliveryMethods"
                        (click)="selectDeliveryMethod(method)">{{method}}</button>
                </div>
            </div>

            <div *ngIf="isPaymentMethodDisplayed()">
                <h3>Payment method</h3>
                <div *ngIf="paymentMethods.length < 1">
                    <div class="loop"></div>
                </div>
                <div class="payment-methods">
                    <button class="btn btn-default" [ngClass]="{ 'btn-success': basket.paymentMethod === method }" *ngFor="let method of paymentMethods"
                        (click)="selectPaymentMethod(method)">{{method}}</button>
                </div>
            </div>

            <div class="address-section" *ngIf="isAddressDisplayed()">
                <h3>{{ basket.deliveryMethod === "Delivery" ? "Delivery address" : "Your address" }}</h3>
                <div class="form-group">
                    <label for="delivery_address1" class="col-sm-2 control-label required">Address 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="delivery_address1" [(ngModel)]="userDetailsService.deliveryAddressLine1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_address2" class="col-sm-2 control-label">Address 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="delivery_address2" [(ngModel)]="userDetailsService.deliveryAddressLine2">
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_town" class="col-sm-2 control-label required">Town/City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="delivery_town" [(ngModel)]="userDetailsService.deliveryAddressTown">
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_postcode" class="col-sm-2 control-label required">Postcode</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="delivery_postcode" [(ngModel)]="userDetailsService.deliveryAddressPostcode">
                    </div>
                </div>
            </div>

            <div class="address-section" *ngIf="isBillingAddressDisplayed()">
                <h3>Billing address</h3>
                <div class="form-group" *ngIf="isAddressDisplayed()">
                    <div class="col-sm-12 checkbox">
                        <label><input type="checkbox" name="billing_address_same_as_delivery" [(ngModel)]="userDetailsService.billingAddressSameAsDeliveryAddress">My billing address is the same as the address above</label>
                    </div>

                </div>

                <div *ngIf="!userDetailsService.billingAddressSameAsDeliveryAddress">
                    <div class="form-group">
                        <label for="billing_address1" class="col-sm-2 control-label required">Address 1</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="billing_address1" [(ngModel)]="userDetailsService.billingAddressLine1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing_address2" class="col-sm-2 control-label">Address 2</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="billing_address2" [(ngModel)]="userDetailsService.billingAddressLine2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing_town" class="col-sm-2 control-label required">Town/City</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="billing_town" [(ngModel)]="userDetailsService.billingAddressTown">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing_postcode" class="col-sm-2 control-label required">Postcode</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="billing_postcode" [(ngModel)]="userDetailsService.billingAddressPostcode">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 checkbox">
                    <label><input type="checkbox" name="dont-save-my-details" [(ngModel)]="doNotRememberMyDetails" >Click here if you do not want the details on this page to be remembered on this device/computer.</label>
                </div>
            </div>
        </form>
        <div class="actions">
            <button class="btn btn-success pull-right" (click)="order()" *ngIf="isOrderButtonDisplayed()">{{ getOrderButtonText() }}</button>
            <h4 class="total">Total: £{{getTotalPrice() | number:"1.2-2"}}</h4>
        </div>
    </div>
    <div class="spinner" *ngIf="isShowSpinner">
        <h2>Processing</h2>
        <div class="loop"></div>
    </div>
</div>
