<div class="container">
    <div *ngIf="!isShowSpinner">
        <h2>Checkout</h2>
        <form class="form-horizontal">
            <h3>Your details</h3>
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label required">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="firstName" [(ngModel)]="buyer.firstName">
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label required">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="lastName" [(ngModel)]="buyer.lastName">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label required">E-mail</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" [(ngModel)]="buyer.email">
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label required">Phone</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" name="phone" [(ngModel)]="buyer.phone">
                </div>
            </div>

            <h3>Order notes</h3>
            <textarea class="form-control" rows="3" name="order_notes" [(ngModel)]="basket.orderNotes" (blur)="saveOrderNotes()"></textarea>

            <div>
                <h3>Delivery method</h3>
                <div class="delivery-methods">
                    <button class="btn btn-default" [ngClass]="{ 'btn-success': basket.deliveryMethod === method }" *ngFor="let method of deliveryMethods" (click)="selectDeliveryMethod(method)">{{method}}</button>
                </div>
            </div>

            <div *ngIf="isPaymentMethodDisplayed()">
                <h3>Payment method</h3>
                <div class="payment-methods">
                    <button class="btn btn-default" [ngClass]="{ 'btn-success': basket.paymentMethod === method }" *ngFor="let method of paymentMethods" (click)="selectPaymentMethod(method)">{{method}}</button>
                </div>
                <p class="text-danger" *ngIf="isDisplayPaymentSurchargeMessage()">A 50p surcharge applies to Credit / Debit card payments</p>
            </div>

            <div class="address-section" *ngIf="isAddressDisplayed()">
                <h3>{{ basket.deliveryMethod === "Delivery" ? "Delivery address" : "Your address" }}</h3>
                <div class="form-group">
                    <label for="delivery_address1" class="col-sm-2 control-label required">Address 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="delivery_address1" [(ngModel)]="deliveryAddress.line1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_address2" class="col-sm-2 control-label">Address 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="delivery_address2" [(ngModel)]="deliveryAddress.line2">
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_town" class="col-sm-2 control-label required">Town/City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="delivery_town" [(ngModel)]="deliveryAddress.town">
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_postcode" class="col-sm-2 control-label required">Postcode</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="delivery_postcode" [(ngModel)]="deliveryAddress.postcode">
                    </div>
                </div>
            </div>

            <div class="address-section" *ngIf="isBillingAddressDisplayed()">
                <h3>Billing address</h3>
                <div class="form-group" *ngIf="isAddressDisplayed()">
                    <div class="col-sm-10 col-sm-offset-2 checkbox">
                        <label><input type="checkbox" name="billing_address_same_as_delivery" [(ngModel)]="billingAddressSameAsDeliveryAddress">My billing address is the same as the address above</label>
                    </div>
                </div>
                <div *ngIf="!billingAddressSameAsDeliveryAddress">
                    <div class="form-group">
                        <label for="billing_address1" class="col-sm-2 control-label required">Address 1</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="billing_address1" [(ngModel)]="billingAddress.line1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing_address2" class="col-sm-2 control-label">Address 2</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="billing_address2" [(ngModel)]="billingAddress.line2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing_town" class="col-sm-2 control-label required">Town/City</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="billing_town" [(ngModel)]="billingAddress.town">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing_postcode" class="col-sm-2 control-label required">Postcode</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="billing_postcode" [(ngModel)]="billingAddress.postcode">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="actions">
            <button class="btn btn-success pull-right" (click)="order()" *ngIf="isOrderButtonDisplayed()">{{ getOrderButtonText() }}</button>
            <h4 class="total">Total: £{{getTotalPrice() | number:"1.2-2"}}</h4><span class="text-danger" *ngIf="isDisplayPaymentSurchargeMessage()">(50p Credit / Debit card surchage included)</span>
        </div>
    </div>
    <div class="spinner" *ngIf="isShowSpinner">
        <h2>Processing</h2> <img src="/images/ring.gif" alt="">
    </div>
</div>