<div class="container">
    <h2>Loyalty Scheme</h2>
    <p>With every order you place, you'll receive a unique voucher code worth 10% of the order. You can use this voucher code any time within 28 days to receive an additional discount on your next order.</p>
    <p>For example, if your order costs you £20, you'll receive a voucher code that will give you £2 off your next order placed within 28 days.</p>
    <p>The voucher code is contained in the order confirmation email, which we send once we've confirmed receipt of your order.</p>
    <h2>Special Offers</h2>
    <p class="alert alert-info">The offers listed here are for your information and you don't need to select any of them. We automatically select the best special offer for you at the basket based on your order. Collection deals will only be applied once you select collection on the checkout screen.</p>
    <div class="discounts">
        <div *ngFor='let discount of discounts' class="discount">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ discount.name }}</h3>
                </div>
                <div class="panel-body" *ngIf="discount.description">{{ discount.description }}</div>
            </div>
        </div>
    </div>
</div>
