<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Orders</h1>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th colspan="2">Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let order of orders">
                        <tr class="order-summary" [id]="order._id">
                            <td class="status"><span [style.color]='order.status==="Outstanding" ? "#ED7118" : order.status==="Awaiting Payment" ? "#FF0000" : "#0EA603" '>{{order.status}}</span></td>
                            <td class="date">{{ getOrderDate(order) }}</td>
                            <td class="name">{{order.buyer.firstName}} {{order.buyer.lastName}}</td>
                            <td class="address">
                                <a *ngIf="order.deliveryAddress" [href]="navigateToGoogleMap(order.deliveryAddress)" target="_blank">{{formatAddress(order.deliveryAddress)}}</a>
                                <span *ngIf="!order.deliveryAddress">COLLECTION</span>
                            </td>
                            <td class="phone">{{order.buyer.phone}}</td>
                            <td class="total-payment">£{{order.totalPayment | number:'1.2-2' }} ({{order.paymentMethod}})</td>
                            <td><button class="btn btn-default" (click)='toggleIsExpanded(order)'>{{ toggleIsExpandedButtonName(order) }}</button></td>
                        </tr>
                        <tr *ngIf='getExpandedStatus(order)' class="more-details" [id]="'details_' + order._id">
                            <td colspan="7">
                                <p><strong>E-mail:</strong> <span class="email">{{order.buyer.email | lowercase}}</span></p>
                                <p *ngIf="order.paymentId"><strong>Payment Reference:</strong> <span class="payment-reference">{{order.paymentId}}</span></p>
                                <p *ngIf="order.billingAddress"><strong>Billing Address:</strong> <span class="billing-address">{{formatAddress(order.billingAddress)}}</span></p>
                                <p><strong>Order Notes:</strong> <span class="order-notes">{{order.note}}</span></p>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor='let item of order.orderItems' class="order-item">
                                            <td class="name">{{item.name}}{{item.version ? ' - ' : ''}}{{item.version}}</td>
                                            <td class="quantity">{{item.quantity}}</td>
                                            <td class="price">£{{item.price | number:'1.2-2'}}</td>
                                        </tr>
                                        <tr *ngIf="order.discount > 0">
                                            <th colspan="2">Total before discount</th>
                                            <td class="order-total">£{{order.total | number:'1.2-2'}}</td>
                                        </tr>
                                        <tr *ngIf="order.discount > 0">
                                            <th colspan="2">Discount amount</th>
                                            <td class="discount">£{{order.discount | number:'1.2-2'}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">Total payment</th>
                                            <td class="total-payable">£{{order.totalPayment | number:'1.2-2'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-primary mark-complete" *ngIf="order.status === 'Outstanding'" (click)='markAsComplete(order._id)'>Mark as complete</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
