<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form>
                <fieldset>
                    <legend>
                        Sign In:
                    </legend>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Sign in</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>