<nav class="navbar navbar-default">
    <div class="container">
        <div class="logo">
            <img class="img-responsive" src="/images/godfather-pizza-logo-1.png">
        </div>
        <div class="navbar-header">
            <button type="button" class="mobile-menu-toggle navbar-toggle collapsed" data-toggle="collapse" data-target=".customer-navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="mobile-basket-button btn btn-success visible-xs-inline-block" [routerLink]="['/basket']">{{ getBasketText() }}</a>
        </div>

        <div class="collapse navbar-collapse customer-navigation">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']"><a [routerLink]="['/pizza']">Pizza</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/calzone']">Calzone</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/pasta']">Pasta</a></li>
                <li [routerLinkActive]="['active']" class="hidden-sm"><a [routerLink]="['/sides']">Sides</a></li>
                <li [routerLinkActive]="['active']" class="hidden-sm"><a [routerLink]="['/salads']">Salads</a></li>
                <li [routerLinkActive]="['active']" class="hidden-sm"><a [routerLink]="['/desserts']">Desserts</a></li>
                <li [routerLinkActive]="['active']" class="hidden-sm"><a [routerLink]="['/ice-cream']">Ice Cream</a></li>
                <li [routerLinkActive]="['active']" class="hidden-sm"><a [routerLink]="['/drinks']">Drinks</a></li>
                <li class="dropdown visible-sm-block">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Others <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/sides']">Sides</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/salads']">Salads</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/desserts']">Desserts</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/ice-cream']">Ice Cream</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/drinks']">Drinks</a></li>
                    </ul>
                </li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/special-offers']">Special Offers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li [routerLinkActive]="['active']" class="basket-link"><a [routerLink]="['/basket']">{{ getBasketText() }}</a></li>
            </ul>
        </div>

    </div>
</nav>
