<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Basket</h2>
            <p *ngIf='basket.items.length > 0'>We automatically choose the best discount for you so you can be sure you're getting the best price.</p>
            <p *ngIf='basket.items.length === 0'>Your basket is empty.</p>
            <table class="table table-striped" *ngIf='basket.items.length > 0'>
                <thead>
                    <tr>
                        <th class="item">Item</th>
                        <th class="quantity">Quantity</th>
                        <th class="price">Price</th>
                        <th class="remove"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of basket.items" class="item-row">
                        <td class="item">{{ getDescription(item) }}</td>
                        <td class="quantity">
                            <button class="btn btn-info btn-sm decrease" [disabled]="item.quantity < 2" (click)='basket.decrease(item)'><span class="glyphicon glyphicon-minus"></span></button>
                            <span>{{item.quantity}}</span>
                            <button class="btn btn-info btn-sm increase" (click)='basket.increase(item)'><span class="glyphicon glyphicon-plus"></span></button>
                        </td>
                        <td class="price">£{{item.price * item.quantity | number:'1.2-2'}}</td>
                        <td class="remove"><button class="btn btn-primary btn-sm" (click)="removeItems(item)"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                    <ng-container *ngIf="basket.getDiscount() !== null">
                        <tr class="total-row">
                            <th class="price-label" colspan="2">Sub-total</th>
                            <th class="order-total price">£{{basket.getTotalPrice() | number:'1.2-2'}}</th>
                            <th class="remove"></th>
                        </tr>
                        <tr class="total-row text-success">
                            <th class="price-label" colspan="2">{{ basket.getDiscount().name }}</th>
                            <th class="discount price">-£{{ basket.getDiscount().amount | number:'1.2-2' }}</th>
                            <th class="remove"></th>
                        </tr>
                    </ng-container>
                    <tr class="total-row">
                        <th class="price-label" colspan="2">Total</th>
                        <th class="total-payable price">£{{basket.getTotalPayable() | number:'1.2-2'}}</th>
                        <th class="remove"></th>
                    </tr>
                </tbody>
            </table>

            <div class="actions" *ngIf='basket.items.length > 0'>
                <button class="btn btn-primary" (click)="clearBasket()">Clear Basket</button>
                <button class="btn btn-success next pull-right" [routerLink]="['/checkout']">Checkout</button>
            </div>
        </div>
    </div>
</div>