.loading {
    background-color: #282423;
    height: 100vh;
    text-align: center;
    width: 100%;

    .wrapper {
        bottom: 0;
        height: 180px;
        left: 0;
        margin: auto;
        position: fixed;
        right: 0;
        top: 0;
        width: 180px;

        .spinner {
            animation: spin 1.1s linear infinite;
            border: 5px solid #5a524f;
            border-radius: 100%;
            border-top-color: #eee;
            height: 90px;
            margin: 0 auto;
            width: 90px;
        }

        h2 {
            color: #eee;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
    }

    img {
        height: auto;
        margin-top: 130px;
        width: 70%;
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@media screen and (min-width: 950px) {
    .loading {
        .wrapper {
            .spinner {
                border: 6px solid #5a524f;
                border-top-color: #eee;
                height: 100px;
                width: 100px;
            }

            h2 {
                font-size: 1.6em;
            }
        }

        img {
            margin-top: 200px;
            width: 30%;
        }
    }
}
@media screen and (max-height: 480px) {
    .loading {
        .wrapper {
            .spinner {
                border: 4px solid #5a524f;
                border-top-color: #eee;
                height: 75px;
                width: 75px;
            }

            h2 {
                font-size: 1em;
            }
        }

        img {
            margin-top: 10px;
            width: 25%;
        }
    }
}
