<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>About us</h2>
            <p>We at Godfather Pizza hand make all our pizzas and bake them in our stone wood-fired oven. Our dough is made fresh every day with special Italian flavour. We only use the finest, freshest ingredients and end eavour to use only the best materials. In fact, most of our products are organic and a great majority of them imported from Italy.</p>
            <p>We roast our vegetables in the wood fired oven to give the best results and taste. We invite you to enjoy the Godfather Pizza in your own home where we will be happy to offer our reliable delivery service. We also use insulation bags to ensure your food is hot on delivery.</p>
            <p>The restaurant has a dining area and we do not have any eat-in charges or service charges.</p>
            <p>You are all welcome and we hope you enjoy your Godfather Pizza experience.</p>

            <h3>Reviews</h3>
            <blockquote>
                <p>Great pizza and great service! Speedy delivery... my order had a mistake and they called to apologize saying my right order would be with me after maximum 15 minutes, and it was!</p>
                <footer>by Jinson</footer>
            </blockquote>
            <blockquote>
                <p>AMAZING delicious Pizzas... And I eat a lot of pizza. This place has the best ribs about *ORDER THE RIBS* You will not regret it.. yum yum and u can dip the crust in the Rib sauce.</p>
                <footer>by Richard</footer>
            </blockquote>
            <blockquote>
                <p>Lovely pizza with a nice thin base.</p>
                <footer>by Ravdeep</footer>
            </blockquote>
        </div>
    </div>
</div>
