<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>About us</h2>
            <p>We at Godfather Pizza hand make all our pizzas and bake them in our traditional Italian stone oven. Our authentic Italian dough is made fresh daily. We only use the finest, freshest ingredients available.</p>
            <p>We roast our vegetables in the Italian stone oven, making them truly delicious. We invite you to enjoy the Godfather Pizza in the comfort of your own home with our reliable delivery service. We also use insulation bags to ensure your food is hot on delivery.</p>
            <p>The restaurant has a dining area and we do not have any eat-in charges or service charges.</p>
            <p>You are all welcome and we hope you enjoy the Godfather Pizza experience.</p>

            <h3>Reviews</h3>
            <blockquote>
                <p>Great pizza and great service! Speedy delivery... my order had a mistake and they called to apologize saying my right order would be with me after maximum 15 minutes, and it was!</p>
                <footer>by Jinson</footer>
            </blockquote>
            <blockquote>
                <p>AMAZING delicious Pizzas... And I eat a lot of pizza. This place has the best ribs about *ORDER THE RIBS* You will not regret it.. yum yum and u can dip the crust in the Rib sauce.</p>
                <footer>by Richard</footer>
            </blockquote>
            <blockquote>
                <p>Lovely pizza with a nice thin base.</p>
                <footer>by Ravdeep</footer>
            </blockquote>
        </div>
    </div>
</div>
