<div class="container contact-us">
    <div class="row">
        <div class="col-md-12">
            <h2>Contact us</h2>

            <h3>Opening times</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Monday</th>
                        <td>4:30pm – 12:30am</td>
                    </tr>
                    <tr>
                        <th>Tuesday</th>
                        <td>4:30pm – 12:30am</td>
                    </tr>
                    <tr>
                        <th>Wednesday</th>
                        <td>4:30pm – 12:30am</td>
                    </tr>
                    <tr>
                        <th>Thursday</th>
                        <td>4:30pm – 12:30am</td>
                    </tr>
                    <tr>
                        <th>Friday</th>
                        <td>12:00 noon – 3:00am</td>
                    </tr>
                    <tr>
                        <th>Saturday</th>
                        <td>12:00 noon – 3:00am</td>
                    </tr>
                    <tr>
                        <th>Sunday</th>
                        <td>12:00 noon – 12:30am</td>
                    </tr>
                    <tr>
                        <th>Bank holidays</th>
                        <td>12:00 noon – 3:00am</td>
                    </tr>
                    <tr>
                        <th>Christmas Eve/Day</th>
                        <td>Closed</td>
                    </tr>
                </tbody>
            </table>

            <h3>Phone</h3>
            <a href="tel:020 8674 2000" class="phone">
                <span class="glyphicon glyphicon-earphone"></span> 020 8674 2000
            </a>

            <h3>Address</h3>
            <address>
                152 Norwood Road, Lambeth, London, SE27 9AZ
            </address>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.9382187543433!2d-0.10886318353856535!3d51.4409284796242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876041abca773a3%3A0x50b696c802819d2b!2s152+Norwood+Rd%2C+London+SE27+9AZ!5e0!3m2!1sen!2suk!4v1487581520908" width="280" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
