<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Terms &amp; conditions</h2>
            <p><strong>THESE TERMS AND CONDITIONS APPLY TO THE WEB SITE WWW.PIZZA-GODFATHER.CO.UK (THE “SITE”). PLEASE READ THIS STATEMENT CAREFULLY. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS THEN YOU SHOULD NOT ACCESS THIS SITE. ACCESS OF THIS SITE BY YOU SHALL BE DEEMED TO BE YOUR ACCEPTANCE OF THESE TERMS AND CONDITIONS.</strong> NOTHING IN THESE CONDITIONS SHALL AFFECT THE STATUTORY RIGHTS OF THE CUSTOMER.</p>
            <h2>General</h2>
            <ol>
                <li>This Site contains many of the valuable trademarks owned and used by GODFATHER PIZZA WOOD OVEN LIMITED (“GODFATHER” and “We” and “Us”) and its subsidiaries and affiliates throughout the world to distinguish its quality products and services. These trademarks and related proprietary property are protected from copying and simulation under national and international laws and are not to be reproduced or copied without the express written permission of GODFATHER. </li>
                <li>GODFATHER strives to ensure that the information contained in this Site is accurate and reliable. However, GODFATHER and the World Wide Web (or Web Site Host) are not infallible and errors may sometimes occur. You should take appropriate steps to verify all information on this Site before acting upon it. To the fullest extent permissible pursuant to applicable law, GODFATHER disclaims any warranty or representation of any kind, whether express or implied, as to any matter whatsoever relating to this Site, including without limitation the availability of the Site. GODFATHER may from time to time revise the information, services and the resources contained in this Site and reserves the right to make such changes without any obligation to notify past, current or prospective visitors. In no event shall GODFATHER be liable for any indirect, special, incidental or consequential damages arising out of any use of the information contained herein.</li>
                <li>By entering this Site, you acknowledge and agree that the use of this Site is at your own risk and to the extent permissible by applicable law, in no circumstances, including (but not limited to) negligence, shall We be liable for any direct, indirect, incidental, special, consequential, or punitive damages, losses, costs or expenses nor for any loss of profit that results from the use of, or inability to use this Site or any material on any site linked to this Site (including but not limited to any viruses or any other errors or defects or failures in computer transmissions or network communications) even if We have been advised of the possibility of such damage. In addition, no liability can be accepted by Us in respect of any changes made to the content of this Site by unauthorised third parties. All express or implied warranties or representations are excluded to the fullest extent permissible by law.</li>
                <li>Any goods displayed or provided on this Site are done so on an “as is” and “if available” basis and GODFATHER expressly excludes any warranties, conditions, representations or other terms with respect to this Site or the content or goods displayed on it, whether express or implied, unless expressly stated to the contrary.</li>
                <li>Any software is downloaded at your own risk. If you are in any doubt as to the suitability of the software to be downloaded for your computer it is recommended that you obtain specialist advice before downloading it.</li>
                <li>This statement does not affect your statutory rights and nor does this paragraph apply to GODFATHER’s liability for products sold through the Site (please see our <a href="#product">Products Terms and Conditions</a>).</li>
                <li>The Site may link to sites not maintained or related to GODFATHER. Hypertext links are provided as a service to users and are not sponsored by or affiliated with this Site or GODFATHER. GODFATHER has not reviewed any of all of the sites hyper-linked to or from this Site and is not responsible for the content of any other sites. The links are to be accessed at the user’s own risk and GODFATHER makes no representations or warranties about the content, completeness, or accuracy of these links or the sites hyperlinked to this Site. Further, GODFATHER does not implicitly endorse third-party sites hyperlinked to this Site. GODFATHER will also not be responsible for the content of any third party advertising or sponsorship that may appear on the Site nor for compliance of the same with any laws or regulations.</li>
                <li>The Site may also contain references to other company, brand and product names. These company, brand and product names are used herein for identification purposes only and may be the trademarks of their respective owners. The images of people or places displayed, forms, structures, and graphics displayed or found within the Site are either the property of, or used with permission by GODFATHER. GODFATHER may be, but is not necessarily sponsored by or affiliated with any of the owners of the other company, brand or product name appearing on the Site, and makes no representations about them, their owners, their products or services. Any use by you of these marks, names and logos may constitute an infringement of the holders’ rights.</li>
                <li>The graphic images, buttons and text contained in this Site (and the Site’s ‘look and feel’) are the exclusive property of GODFATHER and, except for personal use, may not be copied, distributed, or reproduced or transmitted in any form or by any mean, electronic, mechanical, photocopying, recording or otherwise, without the prior written permission of GODFATHER. The content, arrangement and layout of the Site, including, but not limited to, the trademarks, service marks, package designs, text, and content, are proprietary and are protected from copying, imitation, communication, or simulation under domestic and international laws and are not to be reproduced, communicated, displayed, distributed, or transmitted without the express written permission of GODFATHER.</li>
                <li>Any unauthorized use of the materials, structure, sequence, arrangement, or design of the Site, or trademarks, service marks, or trade dress found within the Site may violate civil or criminal laws, including, but not limited to, copyright laws, trademark laws, the laws of privacy and publicity, and communications regulations and statutes. </li>
                <li>By visiting the Site the User does not acquire or obtain by implication or otherwise, any license or right to use or make additional copies of any materials or information displayed on the Site.</li>
                <li>If you decide to register with this Site, you will be asked to create a password. You must keep this password confidential and must not disclose it to anyone. If you believe someone else knows your password, please contact us on 0208 674 2000. GODFATHER reserves the right to suspend your registration if you breach these Terms and Conditions.</li>
                <li>If any part of these terms and conditions is, at any time, found to be invalid by a court, tribunal or other forum of competent jurisdiction, or otherwise rendered unenforceable, that decision shall not invalidate or void the remainder of these terms and conditions. These terms and conditions shall be deemed amended by modifying or severing such part as necessary to render them valid, legal and enforceable while preserving their intent, or if that is not possible, by substituting another provision that is valid, legal and enforceable that gives equivalent effect to the parties’ intent. Any such invalid or unenforceable part or parts shall be severable from these terms and conditions, or the validity of the part(s) in question in any other jurisdiction shall not be affected thereby.</li>
                <li>You may not assign, sub-license or otherwise transfer any of your rights under these terms and conditions.</li>
                <li>These terms and conditions are governed by the laws of England and Wales and you agree that the English courts shall have exclusive jurisdiction in any dispute. This Site is for use only by persons who access it from within the UK. Goods available from this Site are available only to residents of (or companies incorporated in) the UK. We make no representation that any material contained on this Site is appropriate for any other jurisdiction.</li>
            </ol>
            <h2>PRODUCT TERMS AND CONDITIONS</h2>
            <ol>
                <li>In these PRODUCT terms and conditions (“Conditions”) the following words and expressions shall have the following meanings:-
                    <ol>
                        <li>the Customer, you, your: means you, the customer, who buys the Products from GODFATHER;</li>
                        <li>GODFATHER, Our and We: means GODFATHER PIZZA WOOD OVEN LIMITED;</li>
                        <li>the Products: means the products supplied by GODFATHER to the Customer; and</li>
                        <li>the Web Site: means any web site run by GODFATHER, including but not limited to www.pizza-godfather.co.uk</li>
                    </ol>
                </li>
                <li>
                    <h3>Order and Acceptance</h3>
                    <ol>
                        <li>These Conditions shall apply to all orders and contracts for the supply of the Products by GODFATHER to the Customer. All orders for the Products shall be deemed to be an offer by the Customer to purchase the Products in accordance with these Conditions. Any variations to these Conditions must be in writing, otherwise they will not be binding on either party. </li>
                        <li>The acceptance of orders for the Products shall be at the entire discretion of GODFATHER. Our acceptance of an order occurs when you receive an email message confirming your approximate delivery or collection time, at which point your contract with GODFATHER is made and up until this point, We may decline to provide You with the goods without giving any reason.</li>
                        <li>You may not place any orders on Our Web Site if you are under 16 years of age.</li>
                    </ol>
                </li>
                <li>
                    <h3>Prices and Payment</h3>
                    <ol>
                        <li>The price of the Products will be as quoted on the Site at the time you confirm your order (by clicking the checkout button) subject only to any inadvertent technical mistake which We shall not be liable for. The price for your order shall be deducted from your account at the time your order is placed. We reserve our right to terminate this agreement with you if We are refused authority for payment or reasonably believe that payment will be refused at any stage.</li>
                        <li>You can pay by any of the methods listed in our checkout screen. Please make sure that if your order is placed using a credit or debit card, such card is valid on the date of despatch of your order.</li>
                        <li>When you input your postcode into the Web Site, you are automatically directed to the Web Site referring to Your local branch. Please note that prices, minimum spend restrictions and maximum cash spend restrictions vary from branch to branch. In addition, if you order on-line, the price charged may be different to the price for the Products had they been ordered in-store or by telephone.</li>
                    </ol>
                </li>
                <li>
                    <h3>Changes to your Order</h3>
                    <ol>
                        <li>If you wish to cancel, amend or complain about your order, please telephone your local branch, details of which will be included in the confirmatory e-mail sent to you upon placing your order. If you amend your order, the price charged will be the price for the amended order. If you paid by Credit card the price difference will need to be paid separately to the branch or any refund would need to be processed by our Customer Services team. Please note that as promotions are only available for limited periods, any changes to your order may mean the promotions are no longer available.</li>
                    </ol>
                </li>
                <li>
                    <h3>Delivery</h3>
                    <ol>
                        <li>We will aim to provide you with your ordered Products as close as possible to your requested delivery/collection time. Delivery times are only estimations and we will not be held liable if an order is earlier or later than anticipated.</li>
                        <li>The Customer agrees to accept delivery of the Products at the agreed time and place of delivery.</li>
                        <li>We can only fulfil an order for large quantities at the discretion of the branch from which you are ordering.</li>
                        <li>If you have chosen for the Products to be delivered, GODFATHER will deliver the order to the main entrance of the delivery address but any deliveries carried into the delivery address will only be made if the driver and you consent to this. If you are not present to take delivery of the goods at the address given in your order, then We will not refund you the price for your order and will charge you for the full amount of your order.</li>
                        <li>Products are subject to availability. If your products are not available, We may offer you a reasonable substitute of equivalent quality and price or We may call you to tell you that your ordered products are not available and to ask you if you would like to order something else. This may affect the price you pay.</li>
                    </ol>
                </li>
                <li>
                    <h3>Transfer of Property</h3>
                    <ol>
                        <li>Risk in the Products shall pass to the Customer on delivery.</li>
                        <li>The Customer acknowledges that all intellectual property rights in the Products do and shall continue to belong to GODFATHER and the Customer agrees that it will not infringe any of GODFATHER’s intellectual property rights.</li>
                    </ol>
                </li>
                <li>
                    <h3>Oral Statements</h3>
                    <ol>
                        <li>The Customer agrees that, in the event of any conflict, written information about the Products supplied by GODFATHER shall prevail over any oral statements made by GODFATHER or by GODFATHER’s employees or agents (although GODFATHER shall be responsible for any fraudulent misstatements). GODFATHER shall use all reasonable efforts to ensure that its written information about the Products is accurate.</li>
                    </ol>
                </li>
                <li>
                    <h3>Promotions</h3>
                    <ol>
                        <li>From time to time, our products may be subject to special offers. Any special offers shall be subject to these Terms and Conditions which will prevail if there is inconsistency between the terms of the special offer and these Terms. We may change the terms of special offers or withdraw them at our discretion but We will honour any order placed by you before the offer is withdrawn subject always to manifest technical errors.</li>
                        <li>All deals are valid within the promotional period, are subject to change and are not valid in conjunction with other offers, unless otherwise stated. </li>
                    </ol>
                </li>
                <li>
                    <h3>Limitation of Liability</h3>
                    <ol>
                        <li>To the fullest extent permitted by law, GODFATHER excludes all liability arising out of its supply of the Products and in particular shall not be responsible for any loss or damage, arising directly or indirectly out of or in connection with delay beyond the estimated time or date of delivery; any circumstances over which GODFATHER had no control of the consequences and which GODFATHER could not avoid by the exercise of reasonable care, or any indirect or unforeseeable loss suffered or incurred by the Customer or others.</li>
                        <li>In any event, GODFATHER’s liability to the Customer will not exceed the total price charged for the relevant items.</li>
                    </ol>
                </li>
                <li>
                    <h3>Marketing</h3>
                    <ol>
                        <li>By ordering from GODFATHER either by phone or online, you agree to be placed onto the mailing list for SMS, email and any other technology that may arise.</li>
                        <li>We will continue to send you promotions at irregular intervals until you request to remove yourself from such marketing.</li>
                        <li>You can opt in or out of marketing by letting us know.</li>
                        <li>We will do our best to remove you instantly however you may continue to receive any future scheduled emails.</li>
                        <li>Any content in our broadcasts are for information purposes only, many images will be used from external sources for illustration.</li>
                    </ol>
                </li>
                <li>
                    <h3>Law</h3>
                    <ol>
                        <li>Any contract to which these Conditions apply (and these Conditions) shall be governed by and construed in accordance with the laws of England and GODFATHER and the Customer submit to the non-exclusive jurisdiction of the Courts of England.</li>
                    </ol>
                </li>
            </ol>
            <p><strong>Thank you for visiting our Web Site.</strong></p>
            <p>This site is owned and operated by GODFATHER PIZZA WOOD OVEN LIMITED, a company registered in England and Wales, whose registered office is at 152 NORWOOD ROAD, LONDON, SE27 9AZ. Company registration number: 08616859. Telephone: 0208 674 2000.</p>
            <p>© Copyright GODFATHER PIZZA WOOD OVEN LIMITED September 2014. All rights reserved. </p>
            <p><small>Last updated 08/09/2014</small></p>
        </div>
    </div>
</div>
